<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucd.server.mapper.hardwareinfomapper.hardWareDiskmapper.HardWareDiskMapper" >
  <resultMap id="BaseResultMap" type="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDisk" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="host" property="host" jdbcType="VARCHAR" />
    <result column="diskcount" property="diskcount" jdbcType="DOUBLE" />
    <result column="diskusedper" property="diskusedper" jdbcType="DOUBLE" />
    <result column="diskstatus" property="diskstatus" jdbcType="VARCHAR" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="checktime" property="checktime" jdbcType="VARCHAR" />
    <result column="prepare" property="prepare" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, host, diskcount, diskusedper, diskstatus, creattime, checktime, prepare
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDiskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ${tablename}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hard_ware_disk
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hard_ware_disk
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDiskExample" >
    delete from hard_ware_disk
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDisk" >
    insert into hard_ware_disk (id, host, diskcount, 
      diskusedper, diskstatus, creattime, 
      checktime, prepare)
    values (#{id,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, #{diskcount,jdbcType=DOUBLE}, 
      #{diskusedper,jdbcType=DOUBLE}, #{diskstatus,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{checktime,jdbcType=VARCHAR}, #{prepare,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDisk" >
    insert into hard_ware_disk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="diskcount != null" >
        diskcount,
      </if>
      <if test="diskusedper != null" >
        diskusedper,
      </if>
      <if test="diskstatus != null" >
        diskstatus,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="checktime != null" >
        checktime,
      </if>
      <if test="prepare != null" >
        prepare,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="diskcount != null" >
        #{diskcount,jdbcType=DOUBLE},
      </if>
      <if test="diskusedper != null" >
        #{diskusedper,jdbcType=DOUBLE},
      </if>
      <if test="diskstatus != null" >
        #{diskstatus,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="prepare != null" >
        #{prepare,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="insertByDTO" parameterType="com.ucd.daocommon.DTO.hardwareDTO.HardwareDiskDTO" >
    insert into ${tablename}
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="host != null" >
        host,
      </if>
      <if test="diskcount != null" >
        diskcount,
      </if>
      <if test="diskusedper != null" >
        diskusedper,
      </if>
      <if test="diskstatus != null" >
        diskstatus,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="checktime != null" >
        checktime,
      </if>
      <if test="prepare != null" >
        prepare,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="host != null" >
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="diskcount != null" >
        #{diskcount,jdbcType=DOUBLE},
      </if>
      <if test="diskusedper != null" >
        #{diskusedper,jdbcType=DOUBLE},
      </if>
      <if test="diskstatus != null" >
        #{diskstatus,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="prepare != null" >
        #{prepare,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDiskExample" resultType="java.lang.Integer" >
    select count(*) from hard_ware_disk
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hard_ware_disk
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.host != null" >
        host = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.diskcount != null" >
        diskcount = #{record.diskcount,jdbcType=DOUBLE},
      </if>
      <if test="record.diskusedper != null" >
        diskusedper = #{record.diskusedper,jdbcType=DOUBLE},
      </if>
      <if test="record.diskstatus != null" >
        diskstatus = #{record.diskstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        creattime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checktime != null" >
        checktime = #{record.checktime,jdbcType=VARCHAR},
      </if>
      <if test="record.prepare != null" >
        prepare = #{record.prepare,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hard_ware_disk
    set id = #{record.id,jdbcType=VARCHAR},
      host = #{record.host,jdbcType=VARCHAR},
      diskcount = #{record.diskcount,jdbcType=DOUBLE},
      diskusedper = #{record.diskusedper,jdbcType=DOUBLE},
      diskstatus = #{record.diskstatus,jdbcType=VARCHAR},
      creattime = #{record.creattime,jdbcType=TIMESTAMP},
      checktime = #{record.checktime,jdbcType=VARCHAR},
      prepare = #{record.prepare,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDisk" >
    update hard_ware_disk
    <set >
      <if test="host != null" >
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="diskcount != null" >
        diskcount = #{diskcount,jdbcType=DOUBLE},
      </if>
      <if test="diskusedper != null" >
        diskusedper = #{diskusedper,jdbcType=DOUBLE},
      </if>
      <if test="diskstatus != null" >
        diskstatus = #{diskstatus,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        checktime = #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="prepare != null" >
        prepare = #{prepare,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDisk" >
    update hard_ware_disk
    set host = #{host,jdbcType=VARCHAR},
      diskcount = #{diskcount,jdbcType=DOUBLE},
      diskusedper = #{diskusedper,jdbcType=DOUBLE},
      diskstatus = #{diskstatus,jdbcType=VARCHAR},
      creattime = #{creattime,jdbcType=TIMESTAMP},
      checktime = #{checktime,jdbcType=VARCHAR},
      prepare = #{prepare,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectHardWareHealthStatusByTime" resultMap="BaseResultMap" parameterType="com.ucd.server.model.hardwareinfomodel.hardWareDiskmodel.HardWareDisk" >
    select
    <!--<include refid="Base_Column_List" />-->
    a.host,a.checktime,a.diskcount,a.diskusedper,a.diskstatus,a.creattime
    from(
    select
    <!--<include refid="Base_Column_List" />-->
    host,checktime,diskcount,diskusedper,diskstatus,creattime
    from ${tablename} force index(host_checktime_index)
    where 1=1
    <if test="host != null" >
      AND host = #{host,jdbcType=VARCHAR}
    </if>
    <if test="checktimeStart != null and checktimeStart != ''">
      and checktime &gt;= #{checktimeStart,jdbcType=VARCHAR}
    </if>
    <if test="checktimeEnd != null and checktimeEnd != ''">
      and checktime &lt;= #{checktimeEnd,jdbcType=VARCHAR}
    </if>
    ) a
    WHERE 1=1
    <if test="secondStart != null and secondStart != ''">
      and DATE_FORMAT(a.checktime,'%Y%m%d%H%i%s') LIKE CONCAT('%','${secondStart}')
    </if>

    <if test="secondEnd != null and secondEnd != ''">
      OR DATE_FORMAT(a.checktime,'%Y%m%d%H%i%s') LIKE CONCAT('%','${secondEnd}')
    </if>

  </select>


</mapper>