<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucd.server.mapper.tdhDsauditInfomapper.TdhDsauditInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="audit_notes" property="auditNotes" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="auditer_code" property="auditerCode" jdbcType="VARCHAR" />
    <result column="applyer_code" property="applyerCode" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="applysync_time" property="applysyncTime" jdbcType="VARCHAR" />
    <result column="table_nameall" property="tableNameall" jdbcType="VARCHAR" />
    <result column="last_check" property="lastCheck" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sync_type" property="syncType" jdbcType="INTEGER" />
    <result column="data_times" property="dataTimes" jdbcType="VARCHAR" />
    <result column="data_day" property="dataDay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, table_name, creattime, audit_status, audit_notes, audit_time, auditer_code, applyer_code, 
    apply_time, applysync_time, table_nameall, last_check, type, sync_type, data_times, data_day
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tdha_dsaudit_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tdha_dsaudit_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tdha_dsaudit_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfoExample" >
    delete from tdha_dsaudit_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfo" >
    insert into tdha_dsaudit_info (id, table_name, creattime, 
      audit_status, audit_notes, audit_time, 
      auditer_code, applyer_code, apply_time, 
      applysync_time, table_nameall, last_check, 
      type, sync_type, data_times, data_day)
    values (#{id,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=INTEGER}, #{auditNotes,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditerCode,jdbcType=VARCHAR}, #{applyerCode,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, 
      #{applysyncTime,jdbcType=VARCHAR}, #{tableNameall,jdbcType=VARCHAR}, #{lastCheck,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER},#{syncType,jdbcType=INTEGER},#{dataTimes,jdbcType=VARCHAR}, #{dataDay,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfo" >
    insert into tdha_dsaudit_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditNotes != null" >
        audit_notes,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="auditerCode != null" >
        auditer_code,
      </if>
      <if test="applyerCode != null" >
        applyer_code,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="applysyncTime != null" >
        applysync_time,
      </if>
      <if test="tableNameall != null" >
        table_nameall,
      </if>
      <if test="lastCheck != null" >
        last_check,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="syncType != null" >
        sync_type,
      </if>
      <if test="dataTimes != null" >
        data_times,
      </if>
      <if test="dataDay != null" >
        data_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditNotes != null" >
        #{auditNotes,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditerCode != null" >
        #{auditerCode,jdbcType=VARCHAR},
      </if>
      <if test="applyerCode != null" >
        #{applyerCode,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applysyncTime != null" >
        #{applysyncTime,jdbcType=VARCHAR},
      </if>
      <if test="tableNameall != null" >
        #{tableNameall,jdbcType=VARCHAR},
      </if>
      <if test="lastCheck != null" >
        #{lastCheck,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="syncType != null" >
        #{syncType,jdbcType=INTEGER},
      </if>
      <if test="dataTimes != null" >
        #{dataTimes,jdbcType=VARCHAR},
      </if>
      <if test="dataDay != null" >
        #{dataDay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfoExample" resultType="java.lang.Integer" >
    select count(*) from tdha_dsaudit_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tdha_dsaudit_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        table_name = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.creattime != null" >
        creattime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=INTEGER},
      </if>
      <if test="record.auditNotes != null" >
        audit_notes = #{record.auditNotes,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null" >
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditerCode != null" >
        auditer_code = #{record.auditerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.applyerCode != null" >
        applyer_code = #{record.applyerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null" >
        apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applysyncTime != null" >
        applysync_time = #{record.applysyncTime,jdbcType=VARCHAR},
      </if>
      <if test="record.tableNameall != null" >
        table_nameall = #{record.tableNameall,jdbcType=VARCHAR},
      </if>
      <if test="record.lastCheck != null" >
        last_check = #{record.lastCheck,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.syncType != null" >
        sync_type = #{record.syncType,jdbcType=INTEGER},
      </if>
      <if test="record.dataTimes != null" >
        data_times = #{record.dataTimes,jdbcType=VARCHAR},
      </if>
      <if test="record.dataDay != null" >
        data_day = #{record.dataDay,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tdha_dsaudit_info
    set id = #{record.id,jdbcType=VARCHAR},
      table_name = #{record.tableName,jdbcType=VARCHAR},
      creattime = #{record.creattime,jdbcType=TIMESTAMP},
      audit_status = #{record.auditStatus,jdbcType=INTEGER},
      audit_notes = #{record.auditNotes,jdbcType=VARCHAR},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      auditer_code = #{record.auditerCode,jdbcType=VARCHAR},
      applyer_code = #{record.applyerCode,jdbcType=VARCHAR},
      apply_time = #{record.applyTime,jdbcType=TIMESTAMP},
      applysync_time = #{record.applysyncTime,jdbcType=VARCHAR},
      table_nameall = #{record.tableNameall,jdbcType=VARCHAR},
      last_check = #{record.lastCheck,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      sync_type = #{record.syncType,jdbcType=INTEGER},
    data_times = #{record.dataTimes,jdbcType=VARCHAR},
    data_day = #{record.dataDay,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfo" >
    update tdha_dsaudit_info
    <set >
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditNotes != null" >
        audit_notes = #{auditNotes,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditerCode != null" >
        auditer_code = #{auditerCode,jdbcType=VARCHAR},
      </if>
      <if test="applyerCode != null" >
        applyer_code = #{applyerCode,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applysyncTime != null" >
        applysync_time = #{applysyncTime,jdbcType=VARCHAR},
      </if>
      <if test="tableNameall != null" >
        table_nameall = #{tableNameall,jdbcType=VARCHAR},
      </if>
      <if test="lastCheck != null" >
        last_check = #{lastCheck,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="syncType != null" >
        sync_type = #{syncType,jdbcType=INTEGER},
      </if>
      <if test="dataTimes != null" >
        data_times = #{dataTimes,jdbcType=VARCHAR},
      </if>
      <if test="dataDay != null" >
        data_day = #{dataDay,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ucd.server.model.tdhDsauditInfomodel.TdhDsauditInfo" >
    update tdha_dsaudit_info
    set table_name = #{tableName,jdbcType=VARCHAR},
      creattime = #{creattime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_notes = #{auditNotes,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      auditer_code = #{auditerCode,jdbcType=VARCHAR},
      applyer_code = #{applyerCode,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      applysync_time = #{applysyncTime,jdbcType=VARCHAR},
      table_nameall = #{tableNameall,jdbcType=VARCHAR},
      last_check = #{lastCheck,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      sync_type = #{syncType,jdbcType=INTEGER},
      data_times = #{dataTimes,jdbcType=VARCHAR},
      data_day = #{dataDay,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="countTdhDsauditDataoByAuditStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    select count(*) from tdha_dsaudit_info
    where audit_status = #{auditStatus,jdbcType=INTEGER}
  </select>
</mapper>